@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/Gilroy-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/Gilroy-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/Gilroy-Heavy.woff2");
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
}