@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/Gilroy-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/Gilroy-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/Gilroy-Heavy.woff2");
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

body {
    font-family: 'Gilroy';
    font-weight: 700;
    background-image: url(./images/bg.svg);
    background-repeat: no-repeat;
    background-position: top, center;
    background-color: #0B1D26;
}

.container {
    max-width: 1200px;
    min-width: 991px;
    margin: 0 auto;
}

.container-big {
    max-width: 1780px;
}

.header__top {
    padding: 66px 10px 183px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 40px;
}

.account {
    display: flex;
    align-items: center;
}

.account::before {
    content: '';
    background-image: url(./images/icon-account.svg);
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.header__bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 860px;
}

.header__bottom__content {
    width: 54%;
}

.orange__text {
    font-family: 'Gilroy';
    font-weight: 900;
    color: #FBD784;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.header__bottom__content h1 {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 88px;
    line-height: 100px;
    color: #FFFFFF;
    text-transform: capitalize;
}
