@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/Gilroy-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/Gilroy-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/Gilroy-Heavy.woff2");
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Gilroy';
    font-weight: 700;
    background-image: url(./images/bg.svg);
    background-repeat: no-repeat;
    background-position: top, center;
    background-color: #0B1D26;
}

.container {
    max-width: 1200px;
    min-width: 991px;
    margin: 0 auto;
}

.container-big {
    max-width: 1760px;
}